/*csslint qualified-headings:false, unique-headings:false, ids:false, universal-selector:false, font-sizes:false */

body {
    background-color: #C1E1A6;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: 'Lato', sans-serif;
}
s1 {
    color: white;
    font-family: 'Lato', sans-serif;
}
@media (max-width: 768px) {
    .sound-img {
        width: 32px;
        height: 32px;
    }
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
        border-radius: 3px;
    }
    #textQuestion {
        font-size: 80%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .sound-img {
        width: 100px;
        height: 100px;
    }
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }
}

@media (min-width: 993px) {
    .sound-img {
        width:100px;
        height:100px;
    }
    .btn-responsive {
        padding: inherit;
        line-height: inherit;
    }
}

.visible-text,
.visible-text div,
.visible-text p,
.visible-text h1,
.visible-text h2,
.visible-text h3,
.visible-text h4,
.visible-text h5,
.visible-text h6,
.visible-text th,
.visible-text td
.visible-text button {
    color: #000;
}


ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -15px;
}
ul.dashed > li:before {
    content: "-  ";
    text-indent: -15px;
    font-weight: bold;
}

#cardQuestionImg {
    width:auto;
    height:340px; /* Height is expected to be changed: see index.js */
}

#signUpButton {
    background: #118C4E;
}

#audio {
    width: 100%;
}

img {
    display: block;
    margin: auto;
}

#signInButton {
    background: #118C4E;
}

.form-group {
    margin-bottom: 8px;
}

legend {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    border-color: #C1E1A6;
}

.stimButton {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis; /*Changed to keep text from overflowing outside of the button*/
}

.navbar {
    border-radius: 0;
}

.navbar-inverse {
    background-color: #000000;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.form-control {
    border-radius: 0;
}

.btn {
    color: white;
    border-radius: 0;
    border: none;
    background: #118C4E;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    white-space:normal;
    width: 100%;
}

.btn:hover {
    background-color: #000000;
    color:white;
}

/*Override button hover above for buttons on the navbar*/
.navbar .btn:hover {
    color:white;
    background: #118C4E;
    opacity: 0.65;
}

.btn-fix {
    width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control:focus {
    box-shadow: 1px 1px 1px 1px #118C4E;
    border: black;
}

.dropdown-menu {
    background-color: #000000;
    color: white;
}

.dropdown-menu > li > a:focus {
    background-color: #000000;
    color: white;
}

.dropdown-menu > li > a {
    color: white;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu > li {
    color: white;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    border-color: black;
}

.dropdown-menu body {
    color: white;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.panel, .panel-heading, .panel-body {
    border-radius: 0;
}

.center-fill-parent {
    width: 100%;
    margin: auto;
}

input:focus {
    box-shadow: 1px 1px 1px 1px #118C4E;
    border: none;
}

.multipleChoiceButton {
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-center * {
    text-align: center;
}

.modal {
    background-color: #C1E1A6;
    font-family: "Lato",sans-serif;
    color: #000000;
}

.switchButton {
    background: #118C4E;
    color: white;
    font-size: 20px;
}

.wrapper {
    text-align: left;
}

.table {
    border: 1px solid #000000;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #000000;
    border-right-width: 1px;
    border-left-width: 0;
}

/* BEGIN CSS for charting */

.graphs {
   position: relative;
}

.numeric-cell {
    text-align: right;
}

div.show-axis[data-x-axis]::before {
   content: attr(data-x-axis);
   position: absolute;
   width: 100%;
   text-align: center;
   left: 0;
   bottom: 0;
   font-size: 1.45rem;
   color: #000;
   font-weight: bolder;
}

div.show-axis[data-y-axis]::after {
   content: attr(data-y-axis);
   position: absolute;
   top: 40%;
   left: -7rem;
   font-size: 1.45rem;
   color: #000;
   text-align: center;
   transform: rotate(-90deg)translateY(50%);
   font-weight: bolder;
}

.ct-label {
   fill: #000;
   color: #000;
   font-size: 1.45rem;
   line-height: 1;
   font-weight: bolder;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
   stroke: #C40233
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
   stroke: #0087BD;
}

.toggled {
    display: none;
}
.displayed {
    display: block;
}

/* END CSS for charting */
