<head>
  <meta charset="utf-8">
  <title>mofacts_app</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <style>
    body {
        /* Handle fixed navbars at top and bottom of page */
        padding-top: 60px;
        padding-bottom: 60px;
    }
  </style>
</head>

<body>
  {{#Layout template="DefaultLayout"}}
  {{/Layout}}
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

<template name="DefaultLayout">
    {{> yield}}
</template>
