<template name="choose">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS
                    {{#if isInRole 'admin,teacher'}}
                        {{#if isInRole 'admin'}} Administrator {{/if}}
                        {{#if isInRole 'teacher'}} Teacher {{/if}}
                    {{else}}
                        Student
                    {{/if}}
                </a>
            </div>  <!-- close header -->

            <div class="nav navbar-nav navbar-right">
                <TABLE BORDER="0">
                    <td style="line-height:50px;"><s1>{{username}}</s1></td>
                    <td>&nbsp;</td>    <td>&nbsp;</td>
                    <td><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Practice</button></td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progress</button></td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Logout</button></td>
                </table>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

    <div class="container">
        <legend class="text-center">Select A System</legend>
        <div class="row" id="chooseButtonContainer">
            <a href="#" class="btn btn-info studentButton" role="button">All Students</a>
            <br><br>
            <a href="#" class="btn btn-info itemsButton" role="button">All Items</a>
        </div>
    </div>
</template>
