<template name="instructions">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS</a>

            </div>  <!-- close header -->

          <div class="nav navbar-nav navbar-right">

                <TABLE BORDER="0">
                    <td style="line-height:50px;"><s1>{{username}}</s1></td>
                    <td>&nbsp;</td>    <td>&nbsp;</td>
                    {{#if isNormal}}
                    <td><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Practice</button></td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progress</button></td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Logout</button></td>
                    
                    {{/if}} 
                  
                </table>

            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->

    <div class="container">
        <div class="row">
            {{#if backgroundImage}}
            <div class="col-lg-12">
                <img src="{{backgroundImage}}">
            </div>
            {{/if}}
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="body">
                    {{{instructions}}}
                </div>

                <br>
                <div class="form-group">
                    {{#if islockout}}
                        <div id="lockoutDisplay" class="visible-text">
                            <h3 id="lockoutMessage">
                                The rest of the content has been locked until a
                                certain amount of time has elapsed.
                            </h3>
                            <h2 id="lockoutTimeRemaining">&nbsp;</h2>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <!-- Use a fixed footer if we have something to show -->
    {{#if allowcontinue}}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <ul class="nav nav-justified">
                    <li>&nbsp;</li>
                    <li class="text-center">
                        <button type="button" id="continueButton" class="button btn navbar-btn text-center" style="text-align:center; white-space: nowrap;">
                            Continue
                            <span id="displayTimeoutMsg"></span>
                        </button>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>  <!-- close header -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->
    {{/if}}
</template>
