<template name="itemStats">
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MoFaCTS
               {{#if isInRole 'admin,teacher'}}
               {{#if isInRole 'admin'}} Administrator {{/if}}
               {{#if isInRole 'teacher'}} Teacher {{/if}}
               {{else}}
               Student
               {{/if}}
            </a>
         </div>  <!-- close header -->

         <div class="nav navbar-nav navbar-right">
                <TABLE BORDER="0">
                    <td style="line-height:50px;"><s1>{{username}}</s1></td>
                    <td>&nbsp;</td>    <td>&nbsp;</td>
                    <td><button type="button" id="signInButton" class="homeLink button btn  navbar-btn">Practice</button></td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="signUpButton" class="allItemsLink button btn  navbar-btn">Progress</button></td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="signUpButton" class="logoutLink button btn  navbar-btn">Logout</button></td>
                </table>
            </div>  <!-- close navbar-collapse -->
      </div>  <!-- close container -->
   </nav>  <!-- close nav -->

   <div class="container">
      <div class="titleContainer" style="display:block">
         <div class="title toggled displayed" id="reptitionLatencyTitle">
            <legend class="text-center">Latency / Reptition</legend>
         </div>
         <div class="title toggled" id="reptitionCorrectnessTitle">
            <legend class="text-center">Correctness / Reptition</legend>
         </div>
         <div class="wrapper" style="text-align:center">
            <input type="submit" class="switchButton" value="Change Graph">
         </div>
         <br>
      </div>
      <div class="graphs">
         <div class="ct-chart .ct-major-twelfth show-axis toggled displayed" data-x-axis="Repetition" data-y-axis="Latency (ms)" id="reptitionLatency"></div>
         <div class="ct-chart .ct-major-twelfth show-axis toggled" data-x-axis="Repetition" data-y-axis="Correctness (%)" id="reptitionCorrectness"></div>
      </div>
      <div class="legend">
         <svg height="10" width="35">
            <line x1="10" y1="5" x2="35" y2="5" style="stroke:#C40233;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
         </svg> - <b>Class</b>
      </div>
   </div>

</template>
