<template name="signUp">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MoFaCTS</a>

            </div>  <!-- close header -->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" id="signInButton" class="btn  navbar-btn">Sign In</button>
                </ul>
            </div>  <!-- close navbar-collapse -->
        </div>  <!-- close container -->
    </nav>  <!-- close nav -->
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <legend>Sign Up</legend>
    </div>
    <div class="col-xs-offset-1 col-xs-6 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2">

        <div class="form-group">

            <input class="form-control" type="text" id="signUpUsername" value="" placeholder="Username">

            <span class="help-inline danger errcheck" id="usernameTooShort" hidden >Must be at least 6 characters long!</span>
        </div>

        <div class="form-group">

            <input class="form-control" type="password" id="password1" value="" placeholder="Password">

            <span class="help-inline danger errcheck" id="passwordTooShort" hidden >Must be at least 6 characters long!</span>
        </div>

        <div class="form-group">

            <input class="form-control" type="password" id="password2" value="" placeholder="Re-Type Password">

            <span class="help-inline danger errcheck" id="passwordMustMatch" hidden >Password fields must match!</span>
        </div>

        <div class="form-group">

            <button type="button" id="signUpButton" class="btn ">Sign Up</button>

        <span class="help-inline danger errcheck" id="serverErrors" hidden ></span>
</div>
        <br>
    </div>

      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <legend>Mobile Fact and Concept Training System (MoFaCTS):</legend>
          <ul class="dashed">
            <li><b>is</b> a system in development that helps students learn information such as facts or concepts.</li>
            <li><b>is</b> a browser-based web-application, with source code available <a href="https://bitbucket.org/ppavlik/mofacts">here</a>.</li>
            <li><b>is</b> now available with multiple sample content modules.</li>
            <li><b>uses</b> a quantitative model of your performance to select an item to learn that will optimally balance the challenge relative to your current ability.</li>
            <li><b>tracks</b> both prior performance (i.e. past successes and failures) and memory factors, such as recency, frequency, spacing and forgetting.</li>
            <li><b>saves</b> all of your results to track your learning over multiple sessions.</li>
            <li><b>was designed</b> by Dr. Philip Pavlik, and many other important collaborators who have been his co-authors, listed <a href="https://www.researchgate.net/profile/Phil_Pavlik_Jr/publications">here</a>.</li>
            <li><b>was implemented</b> by a series of talented programmers, who are given credit <a href="http://optimallearning.org/mobile-fact-and-concept-training-system-mofacts-beta.html">here</a>.</li>
            <li><b>can be used</b> to run experiments for collecting controlled data, which is used to create and refine the quantitative model.</li>
            <li><b>exports</b> data to a convenient format for sharing or analysis <a href="https://datashop.memphis.edu/">here</a>.</li>
            <li><b>was developed</b> over multiple years with funding from the <a href="http://www.memphis.edu/iis/">IIS</a>, IES: DOED, NSF, and R. Zdrojkowski.</li>
       <li><b>is explained</b> in this <a href="/ITS2016final.pdf">paper</a> to be presented at the 2016 Intelligent Tutoring Systems Conference.</li>
        </ul>
    </div>
</template>
