<!----------------------------------------------------------------------------
Turk Workflow Template
----------------------------------------------------------------------------->
<template name="turkWorkflow">
    <div id="turkLogAll">
        <div class="row">
            <div class="col-md-12" id="turkLogSelectContainer">
                <legend class="text-center">Select a TDF to see the Turk Log</legend>
            </div>
        </div>

        {{#if turkExperimentLogToShow}}
        <div class="row">
            <div class="col-md-12 form-inline">
                <legend class="text-center">
                    Turk Experiment Log <span id="turkExpTitle"></span>
                </legend>

                <div class="form-group">
                    <label for="turklog-filt">Minimum Trials</label>
                    <input type="text" class="form-control" name="turklog-filt" id="turklog-filt" value="" placeholder="Only show users with this many trials">
                </div>

                <table class="table table-striped table-bordered table-condensed" style="font-size:75%;">
                    <thead><tr>
                        <th>User MongoDB ID</th>
                        <th>User Name (Turk)</th>
                        <th>Email Sched</th>
                        <th>Correct</th>
                        <th>Approval</th>
                        <th>Email Sent</th>
                        <th>Last Unit</th>
                        <th>Q Seen</th>
                        <th>A Given</th>
                        <th>Bonus</th>
                    </tr></thead>

                    <tbody>
                    {{#each turkExperimentLog}}
                        <tr>
                            <td>{{userid}}</td>
                            <td>{{turk_username}}</td>
                            <td>
                                {{#if haveEmailSched}}
                                <button type="button"
                                    class="btn btn-fix btn-primary btn-xs btn-sched-detail"
                                    data-idx="{{idx}}"
                                ><span class="glyphicon glyphicon-zoom-in"></span>
                                </button>
                                {{/if}}
                                {{turkEmailSchedule}}
                            </td>
                            <td>{{answersCorrect}}</td>
                            <td>
                                {{#if needPay}}
                                    <button type="button"
                                        class="btn btn-fix btn-primary btn-xs btn-pay-action"
                                        data-idx="{{idx}}"
                                    ><span class="glyphicon glyphicon-usd"></span> Approve/Pay
                                    </button>
                                {{else}}
                                    <button type="button"
                                        class="btn btn-fix btn-primary btn-xs btn-pay-detail"
                                        data-idx="{{idx}}"
                                    ><span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                    {{turkpay}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if haveEmailSend}}
                                <button type="button"
                                    class="btn btn-fix btn-primary btn-xs btn-send-detail"
                                    data-idx="{{idx}}"
                                ><span class="glyphicon glyphicon-zoom-in"></span>
                                </button>
                                {{/if}}
                                {{turkEmailSend}}
                            </td>
                            <td>{{lastUnitSeen}}</td>
                            <td>{{questionsSeen}}</td>
                            <td>{{answersSeen}}</td>
                            <td>
                                {{#if needBonus}}
                                    <button type="button"
                                        class="btn btn-fix btn-primary btn-xs btn-bonus-action"
                                        data-idx="{{idx}}"
                                    ><span class="glyphicon glyphicon-usd"></span> Send Bonus
                                    </button>
                                {{else}}
                                    <button type="button"
                                        class="btn btn-fix btn-primary btn-xs btn-bonus-detail"
                                        data-idx="{{idx}}"
                                    ><span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                    {{turkbonus}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}} <!-- /turkExperimentLogToShow -->
    </div> <!-- /turkLogAll -->



    <br><br>
    <div class="row form-inline">
        <div class="col-md-6" id="turk-assignment-details">
            <div id="name">
                <legend class="text-center">View Turk Assignment Details</legend>
                <div class="form-group">
                    <label for="turk-assignid">Assignment ID</label>
                    <input type="text" class="form-control" name="turk-assignid" id="turk-assignid" value="" placeholder="Mechanical Turk AssignmentID">
                </div>
                <button id="turk-show-assign" class="btn btn-fix">Get Assignment!</button>
                <pre id="turk-assign-results" style="width:100%">
                </pre>
            </div>
        </div>

        <div class="col-md-6" id="turk-send-message">
            <div id="name">
                <legend class="text-center">Send Turk Message</legend>
                <div class="form-group">
                    <label for="turk-workerid">Worker ID</label>
                    <input type="text" class="form-control" name="turk-workerid" id="turk-workerid" value="" placeholder="Mechanical Turk WorkerID">
                </div>
                <button id="turk-send-msg" class="btn btn-fix">Send Message!</button>
                <textarea name="turk-msg" id="turk-msg" style="width:100%" rows="12" placeholder="Message text goes here"></textarea>
            </div>
        </div>
    </div>



    <div class="modal fade" id="turkModal" tabindex="-1" role="dialog" aria-labelledby="turkModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="turkModalLabel">Please Wait</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <img src="/styles/mofacts_waiting.gif" class="img-responsive pull-left"/>
                        <p class="pull-right">Please wait while we contact Mechanical Turk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
        <div class="modal-dialog" role="document" style="width:98%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="detailsModalLabel">Turk Experiment Log Details</h4>
                </div>
                <div class="modal-body">
                    <div id="detailsModalListing" style="white-space:pre;"></div>
                </div>
            </div>
        </div>
    </div>

</template>
